.logger__toolbar{
    border: 1px solid var(--ins-c-logger--toolbar-BorderColor);
    border-bottom: 0px;
    // padding-top: var(--ins-c-logger--spacer-xs);

    &.toolbar--hasSearchbar {
        height: 200px;
    }

    &.toolbar__icons {
        padding: 6px 16px !important; // this !important will go away when we put it in app
    }
      
}

.toolbar__searchbar {
    // margin-left: 45px; 
    padding-top: 7px;
    border-bottom: 4px solid var(--ins-c-logger--border-color);  
    width: 1200px;
    height: 40px;
}

.toolbar__searchbar-group {
    display: flex;
}

.searchbar__btn {
    width: 44px;
    height: 36px;
} 
